{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<div class="pt-100">
    <div class="cases cases_main portfolio-brand-wr mb-130" id="cases">
          <div class="cases__center center">
            <div class="cases__stage stage" data-aos="animation-scale-y">Portfolio</div>
            <h2 class="cases__title h1" data-aos="animation-scale-y" data-aos-delay="150">Brand</h2>


            <div class="cases__list js-owl" data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight>
            {% for item in brand %}
                  <a class="cases__item illustration" data-aos="animation-translate-y" data-aos-delay="200" href="{{item.get_absolute_url}}">
                    <div class="cases__preview"><img class="cases__pic" src="{{item.brand_image.url}}" alt="">
                      <div class="cases__box">Batafsil</div>
                    </div>
                    <div class="cases__body">
                      <h4 class="cases__info h4">{{item.brand_title}}</h4>
                      <div class="cases__text">{{item.service}}</div>
                    </div>
                  </a>
            {% endfor %}

            </div>
          </div>

      <div class="cases__figures">
        <div class="cases__figure">
          <img class="cases__pic js-parallax" data-scale="2" data-orientation="down" src="{% static 'img/figure-2.png' %}" alt="">
        </div>
        <div class="cases__figure">
          <img class="cases__pic js-parallax" data-scale="1.8" data-orientation="down" src="{% static 'img/figure-3.png' %}" alt="">
        </div>
      </div>
    </div>
</div>

{% endblock content %}