{% extends 'base/base.html' %}
{% load static %}


{% block content %}
           <div class="project-card-mobile">
          <div class="section">
            <div class="section-item">
              <div class="container">
                <h1 class="font-libre fs48 lh-sm"><strong>{{photo.name}}</strong></h1>
                <div class="project-info">
                  <div class="row text-center">
                    <div class="col-sm-6 col-md-4">
                      <div class="project-info-item">
                        <div class="project-info-title">client</div>
                        <div class="project-info-descr">{{photo.client}}</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="project-info-item">
                        <div class="project-info-title">services</div>
                        <div class="project-info-descr">{{photo.service}}</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="project-info-item">
                        <div class="project-info-title">date</div>
                        <div class="project-info-descr">{{photo.year}}</div>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="row justify-content-md-center">
                  <div class="col-lg-10">
                    <div class="lead mt100 text-black">{{photo.photo_description}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-item">
              <div class="photo-list">
                {% for item in photo.pictures.all %}
                <div class="photo-item wow fadeInLeft" data-wow-delay=".3s" data-wow-offset="100">
                  <div class="container"><img src="{{item.pictures.url}}" alt="" /></div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="section-item">
              <div class="container">
                <ul class="social social-rounded mt100">
                  <li><a href="#" class="text-grey-light"><i class="socicon-twitter"></i></a></li>
                  <li><a href="#" class="text-grey-light"><i class="socicon-facebook"></i></a></li>
                  <li><a href="#" class="text-grey-light"><i class="socicon-googleplus"></i></a></li>
                  <li><a href="#" class="text-grey-light"><i class="socicon-tumblr"></i></a></li>
                  <li><a href="#" class="text-grey-light"><i class="socicon-rss"></i></a></li>
                </ul>

                <div class="mt100">
                  <button class="like-btn"><i class="icon ion-heart"></i></button>
                  <div class="text-grey mt-3">268 Liked</div></div>
              </div>
            </div>


          </div>


        </div>

{% endblock content %}