{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<div class="video-bnr section section-mini section-centered full-height full-image-dark text-white" style="background-image: url({{news.news_post_image}});">
    <div class="section-item">
        <a href="{{news.video_file.url}}" data-fancybox class="btn-play btn-play-lg"><i class="icon ion-ios-play"></i></a>
    </div>
</div>
          <div class="section-item text-left mb130">
            <div class="container">
              <div class="page-content">
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-10" role="main">
                    <h1 class="h2-3d font-libre"><strong>{{news.news_post_title}}</strong></h1>
                    <div class="news-info mb70">
                      <div class="row">
                        <div class="col-sm-6 col-md-3">
                          <div class="news-info-item">
                            <div class="news-info-title">Author</div>
                            <div class="news-info-descr">{{news.author}}</div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                          <div class="news-info-item">
                            <div class="news-info-title">pubslished on</div>
                            <div class="news-info-descr">{{news.published_on}}</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="article-content article-news mb65">
                      <p class="lead">{{news.intro}}</p>
                      <figure>
                        <div class="image mask-skew wow fadeIn" data-wow-offset="150" data-wow-duration="0.2s" data-wow-delay=".3s">
                          <div class="mask wow slideInLeft" data-wow-offset="150" data-wow-duration="1.2s" data-wow-delay=".3s"><div class="inside"></div></div>
                          <a href="{{news.news_image_1}}" data-fancybox="gallery" data-caption="Ben Kolde profile on unsplash.com"><img src="{{news.news_image_1.url}}" alt=""></a>
                        </div>
                      </figure>

                      <h4>{{news.title_2}}</h4>
                      <p>{{news.description_1}}</p>
                      <h4>{{news.title_3}}</h4>
                      <p>{{news.description_2}}</p>
                      <blockquote class="blockquote">
                        <div class="font-libre">“{{news.testimonial}}”</div>
                        <footer>{{news.testimonial_author}}</footer>
                      </blockquote>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="parallax2">
              <div class="article-content">
                <figure>
                  <div class="image mask-skew wow fadeIn" data-wow-offset="150" data-wow-duration="0.2s" data-wow-delay=".3s">
                    <div class="mask wow slideInLeft" data-wow-offset="150" data-wow-duration="1.2s" data-wow-delay=".3s"><div class="inside"></div></div>
                    <div class="article-promo">
                      <div class="article-promo-item article-promo-item-md" style="background-image: url({{news.news_image_2.url}});"></div>
                    </div>
                  </div>
                  <figcaption class="fs18">We all know everyone has many stuff on the table</figcaption>
                </figure>
              </div>
            </div>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-10 mb130" role="main">
                  <div class="article-content article-news mb65">
                    <h4>{{news.title_4}}</h4>
                    <p>{{news.description_3 }}</p>
                    <h4>{{news.}}</h4>
                    <p>If you want to succeed, surround yourself with the right kind of people who will support and encourage you all the way. Be with people who have the same beliefs and aspirations as yours. Positive aura is generated by this fusion of collective energy from people of “like minds.” On the contrary, being with people who oppose your ways of thinking may trigger a negative, yet very powerful, kind of motivation.</p>
                  </div>

                  <div class="row mb30">
                    <div class="col-sm-6 mb30">
                      <ul class="tags nav">
                        <li><a href="#" class="btn btn-outline-secondary btn-xs">Granada</a></li>
                        <li class="active"><a href="#" class="btn btn-outline-secondary btn-xs">Spain</a></li>
                        <li><a href="#" class="btn btn-outline-secondary btn-xs">Travel</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 mb30 text-right-sm">
                      <ul class="social social-rounded social-follow">
                        <li class="social-title">Share on</li>
                        <li><a href="#" class="follow-facebook"><i class="icon ion-social-facebook"></i></a></li>
                        <li><a href="#" class="follow-twitter"><i class="icon ion-social-twitter"></i></a></li>
                        <li><a href="#" class="follow-googleplus"><i class="icon ion-social-googleplus"></i></a></li>
                        <li><a href="#" class="follow-tumblr"><i class="icon ion-social-tumblr"></i></a></li>
                        <li><a href="#" class="follow-rss"><i class="icon ion-social-rss"></i></a></li>
                      </ul>
                    </div>
                  </div>




                  <hr class="mt-0 mb70">


                </div>
              </div>
            </div>
          </div>

{% endblock content %}