.header__link ion-icon,
.contacts__social .contacts__link ion-icon.facebook{
    margin-right: 15px;
}
.contacts__social .contacts__link ion-icon.facebook{
    z-index: 3;
}
nav.header__nav a {
    /*font-size: 50px;*/
}

/*@media (min-width: 1024px) and (max-width: 1439px){
    .header__item{
    	font-size: 39px;
    }
}
@media (min-width: 1440px){
    .header__item{
    	font-size: 50px;
    }
}*/
@media (min-width: 1024px) and (max-width: 1279px){
    .header__wrapper .header__center{
    	padding-left: 359px;
    }
    .header__item{
    	font-size: 42px;
    }
}
@media (min-width: 1280px) and (max-width: 1439px){
	.header__item{
    	font-size: 50px;
    }
}
@media (min-width: 1440px){
    .header__wrapper .header__center{
    	padding-left: 368px; 
    	padding-right: 20px;
    }
    .header__item{
    	font-size: 65px;
    }
}
a.services-all{
	z-index: 5;
}

.hide{
	display: none !important;
	    transition-timing-function: ease;
	        transition-delay: .2s;
	            transition-timing-function: ease;
	            transition-duration: .4s;
}




.accordion {
  cursor: pointer;
}
.accordion-panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-panel ul li a{
    color: inherit;
    font-weight: 600;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
.accordion-panel ul li a:hover{
    color: #4C40F7;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
.accordion-panel ul li:last-child{
    margin-bottom: 16px;
}  







.project-info ul li{
	color: inherit;
	font-weight: 600;
}
.project-info ul li small{
	color: #6b6b6b;
	font-weight: 100;
}

.portfolio-single-slider .details__item{
	padding: 0;
}

.portfolio-single-slider.details{
	padding: 38px 0 0;
}
.portfolio-single-slider.details .details__container {
    margin: 46px -9px 0;
}

.product-brand-single .product__head {
    padding-bottom: 58px;
}
.portfolio-single-slider.details .owl-nav{
	margin-top: 10px;
}









/*********   About Us Page        ***************/
.about-us-page .product__head{
	padding-top: 60px !important;
}
.about-us-page .progress-item-head{
	margin-bottom: 3.125rem;
}
.about-us-page .progress-item:last-child {
    border-bottom: none !important;
}
.about-us-page .progress-item {
    border-bottom: #e2e2e2 1px solid;
    padding-top: 3rem;
    padding-bottom: 3.125rem;
}
.about-us-page .progress-item-num {
    padding-bottom: .75rem;
    font-size: 6.25rem;
    color: #ccc;
    line-height: 1.1;
}
.about-us-page .progress-item-title {
    margin-bottom: .5rem;
    font-size: 2.25rem;
    letter-spacing: -.025em;
}


.about-us-page .service-promo-item-photo img {
    width: 100%;
}
.about-us-page .service-promo-item-title {
    margin-bottom: 18px;
    font-size: 3rem;
    letter-spacing: -.025em;
}

.about-us-page .service-promo-item-detail, .no-gutters>.service-promo-item-detail{
    background: #f5f5f5;
    padding: 3rem 3.5rem 3rem;
}




@media (min-width: 1200px){
	.about-us-page .service-promo-item-detail, .no-gutters>.service-promo-item-detail{
	    padding: 3rem 3.75rem 3rem 3.75rem;
	}
}
@media (max-width: 1052px){
	.about-us-page .service-promo-item-title {
	    margin-bottom: 18px;
	    font-size: 2.5rem;
	    letter-spacing: -.025em;
	}
}
@media (max-width: 767px){
	.about-us-page .service-promo-item-detail{
	    padding: 1rem 2rem 1rem;
	}
	.about-us-page .service-promo-item-title{
		margin-bottom: 8px;
		font-size: 2rem;
	}
	html>body .fs18,
	html>body .fs20{
		font-size: 1rem;
	}
	html>body .mt70 {
	    margin-top: 2rem;
	}
	html>body .mb35 {
	    margin-bottom: 1rem;
	}

}


.about-us-page .service-promo-item .nav.flex-column li {
    margin-bottom: .625rem;
}

.about-us-page  .section-item-title-xs-narrow {
    font-size: .875rem;
    color: #999;
    text-transform: uppercase;
}
.about-us-page  .section-item-title-xs-narrow {
    letter-spacing: .1em;
    font-weight: 400;
}
.about-us-page  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.about-us-page .service-promo-item .nav.flex-column li {
    margin-bottom: .625rem;
}
.about-us-page .nav.flex-column a {
    color: inherit;
    text-decoration: none;
}
.about-us-page .service-promo-item-photo{
	border-radius: 40px 0 0 40px;
}
.about-us-page .service-promo-item-detail{
	border-radius: 0 40px 40px 0;
}
.about-us-page .progress-item .product__overview:before{
	content: none !important;
}


@media (max-width: 575px){
	.about-us-page .service-promo-item-detail {
	    border-radius: 0 0 40px 40px;
	}
	.about-us-page .service-promo-item-photo,
	.about-us-page .service-promo-item-photo img {
	    border-radius: 40px 40px 0 0;
	}
	.about-us-page .service-promo-item-photo{
		padding: 0;
	}
}











/*********  Services Page       ************************/
.services-page .services-carousel-wr{

}
.services-page .services-carousel-wr .cases__preview{

}.services-page .services-carousel-wr .cases__preview img{

}

.services-page .services-carousel-wr .cases__info{
	font-size: 24px;
}
.services-page .services-carousel-wr .cases__text{
	margin-bottom: 40px;
    color: #6b6b6b;
}
.services-page .services-carousel-wr .cases__body{
	text-align: center;
	border-radius: 24px;
}
.cases__item:hover .details__preview {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.services-page .cases__item:hover .details__btn {
    visibility: visible;
    opacity: 1;
}
.services-page .cases__item .details__btn {
    visibility: hidden;
    opacity: 0;
}

.services-page .cases .owl-dots{
	margin: 70px 0 100px;
	justify-content: center;
}








/*******   Portfolio All Page            **************/
.portfolio-all-wr .cases__nav{
	margin-bottom: 50px;
}


.portfolio-all-wr .cases__list .cases__item,
.portfolio-web-wr .cases__list .cases__item,
.portfolio-brand-wr .cases__list .cases__item{
	flex: 0 0 calc(33% - 32px);
    width: calc(33% - 32px);
}


















/****  Web Design Single Page  ****/
.web-single-title-wr .product__head .product__row{
	margin-bottom: 0;
}

.web-single-wr .web-single{
    background: #dde2e4;
    height: 0;
    padding-bottom: 52.08333333%;
    overflow: hidden;
    position: relative;
}
.web-single-wr .web-single img{
	width: 100%;
}
.web-single-wr .img-left{
    position: absolute;
    left: 14.58333333%;
    top: 21.7962963%;
    width: 20.83333333%;
}
.web-single-wr .img-right{
    position: absolute;
    left: 28.90625%;
    top: 21.7962963%;
    width: 59.0625%;
}

.web-single-title-wr .product__head {
    padding: 100px 0;
}



.web-single-title-wr .project-info-col-typ{
	margin-bottom: 0;
}

.web-single-title-wr .project-info-col-typ .project-info-title{
	margin-bottom: 4.375rem;
}
.web-single-title-wr .product__body .product__overview{
	width: 50%;
}
.web-single-title-wr .project-info-col-typ .product__overview{

}

.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 3rem;
    /*margin-bottom: 2.375rem;*/
    text-align: center;
}

.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item .color {
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 3.75rem;
    margin-bottom: 24px;
}
.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item .color-title {
    color: #999999;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 100;
}
.web-single-title-wr .product__body .product__overview .h2,
.web-single-title-wr .product__body .product__overview .h4{
	font-weight: 100;
}











@media only screen and (max-width: 1279px){
	.pt-128,
	.pt-100 {
	    padding-top: 84px;
	}


	/*******  Service Page      *********************/
	.services-page  .details__preview_color .details__img {
	    top: 25px;
	    right: 7px;
	}






	/****  Web Design Single Page  ****/
	.web-single-title-wr .project-info-col-typ{
		display: block;
	}
	.web-single-title-wr .product__body .product__overview{
		width: 100%;
	}
	.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item {
	    margin-bottom: 2.375rem;
	}
	.web-single-title-wr .project-info-col-typ .project-info-title:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 37px;
	    width: 108px;
	    height: 2px;
	    background: #4C40F7;
	}
	.web-single-title-wr .project-info-col-typ .product__overview:before{
		content: none;
	}
}

@media only screen and (max-width: 1080px){
	.portfolio-all-wr .cases__list .cases__item,
	.portfolio-web-wr .cases__list .cases__item,
	.portfolio-brand-wr .cases__list .cases__item{
		flex: 0 0 calc(50% - 32px);
	    width: calc(50% - 32px);
	}
}




@media only screen and (max-width: 767px){
	.pt-128 {
	    padding-top: 68px !important;
	}
	.cases.cases_main,
	.product-brand-single .product__head{
	    padding-top: 30px;
	}


	/*******  Services Page      ***********************/
	.services-page .services-carousel-wr .cases__body{
		width: 90%;
	    margin: 0 auto;
	    box-shadow: 0px 7px 20px 0px #0000004d;
	}
	.services-page .cases__item .details__btn {
	    visibility: visible;
	    opacity: 1;
	}
	.services-page .details__preview_color .details__img {
	    top: 30px;
	    right: 12px;
	}


	/*******   Brand Single Page            *******************/
	.cases.cases_main, .product-brand-single .product__head .product__wrap .product__title{
		margin-bottom: 32px;
	}
	.product-brand-single .product__head {
	    padding-bottom: 0;
	}
	.product-bg-wr .product__bg{
		background-size: 173%;
    	background-position: 0px 0px;
	}


	/*******   Portfolio All Page            **************/
	.portfolio-all-wr .cases__list .cases__item,
	.portfolio-web-wr .cases__list .cases__item,
	.portfolio-brand-wr .cases__list .cases__item{
    	width: 100%;
	}








	/****  Web Design Single Page  ****/
	.web-single-wr .web-single {
	    padding-bottom: 60.083333%;
	}
	.web-single-wr .img-left {
	    top: 27.7962963%;
	    width: 20.83333333%;
	}
	.web-single-wr .img-right {
	    top: 27.7962963%;
	    width: 59.0625%;
	}
	.web-single-title-wr .product__head .product__row{
		margin-bottom: 0;
	}
	.web-single-title-wr .product__head {
	    padding: 80px 0;
	}
	.pt-128 {
	    padding-top: 38px;
	}
	.web-single-title-wr .product__body .product__overview{
		width: 100%;
	}
	.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item {
	    margin-bottom: 2.375rem;
	}

	.web-single-title-wr .project-info-col-typ .project-info-title:before {
	    width: 56px;
	    top: 57px;
	}

}

@media only screen and (max-width: 639px){

	/****  Web Design Single Page  ****/
	.web-single-wr .web-single {
	    padding-bottom: 67.083333%;
	}
	.web-single-wr .img-left {
	    top: 34.7962963%;
	    width: 20.83333333%;
	}
	.web-single-wr .img-right {
	    top: 34.7962963%;
	    width: 59.0625%;
	}
}


@media (min-width: 500px) and (max-width: 767px){
	.product-bg-wr .product__bg{
		background-size: 130%;
    	background-position: -120px 0px;
	}
}




/* CUSTOM CSS */

/*.wrapper_dark .contacts{
	margin-top: 130px;
}*/
.bg-white{
	background-color: #fff;
}
/* margin top */
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.mt-50{
	margin-top: 50px;
}
.mt-60{
	margin-top: 60px;
}
.mt-70{
	margin-top: 70px;
}
.mt-80{
	margin-top: 80px;
}
.mt-90{
	margin-top: 90px;
}
.mt-100{
	margin-top: 100px;
}
/* margin bottom */
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-70{
	margin-bottom: 70px;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-90{
	margin-bottom: 90px;
}
.mb-100{
	margin-bottom: 100px;
}
.mb-130{
	margin-bottom: 130px;
}
/* margin left */
.ml-10{
	margin-left: 10px;
}
.ml-15{
	margin-left: 15px;
}
.ml-20{
	margin-left: 20px;
}
.ml-30{
	margin-left: 30px;
}
.ml-40{
	margin-left: 40px;
}
.ml-50{
	margin-left: 50px;
}
.ml-60{
	margin-left: 60px;
}
.ml-70{
	margin-left: 70px;
}
.ml-80{
	margin-left: 80px;
}
.ml-90{
	margin-left: 90px;
}
.ml-100{
	margin-left: 100px;
}

/* margin right */
.mr-10{
	margin-right: 10px;
}
.mr-15{
	margin-right: 15px;
}
.mr-20{
	margin-right: 20px;
}
.mr-30{
	margin-right: 30px;
}
.mr-40{
	margin-right: 40px;
}
.mr-50{
	margin-right: 50px;
}
.mr-60{
	margin-right: 60px;
}
.mr-70{
	margin-right: 70px;
}
.mr-80{
	margin-right: 80px;
}
.mr-90{
	margin-right: 90px;
}
.mr-100{
	margin-right: 100px;
}

/* padding top */
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-40{
	padding-top: 40px;
}
.pt-50{
	padding-top: 50px;
}
.pt-60{
	padding-top: 60px;
}
.pt-70{
	padding-top: 70px;
}
.pt-80{
	padding-top: 80px;
}
.pt-90{
	padding-top: 90px;
}
.pt-100{
	padding-top: 100px;
}
.pt-128{
	padding-top: 128px;
}

/* padding bottom */
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-40{
	padding-bottom: 40px;
}
.pb-50{
	padding-bottom: 50px;
}
.pb-60{
	padding-bottom: 60px;
}
.pb-70{
	padding-bottom: 70px;
}
.pb-80{
	padding-bottom: 80px;
}
.pb-90{
	padding-bottom: 90px;
}
.pb-100{
	padding-bottom: 100px;
}
.pb-130{
	padding-bottom: 130px;
}
/* padding left */
.pl-10{
	padding-left: 10px;
}
.pl-15{
	padding-left: 15px;
}
.pl-20{
	padding-left: 20px;
}
.pl-30{
	padding-left: 30px;
}
.pl-40{
	padding-left: 40px;
}
.pl-50{
	padding-left: 50px;
}
.pl-60{
	padding-left: 60px;
}
.pl-70{
	padding-left: 70px;
}
.pl-80{
	padding-left: 80px;
}
.pl-90{
	padding-left: 90px;
}
.pl-100{
	padding-left: 100px;
}
/* padding right */
.pr-10{
	padding-right: 10px;
}
.pr-15{
	padding-right: 15px;
}
.pr-20{
	padding-right: 20px;
}
.pr-30{
	padding-right: 30px;
}
.pr-40{
	padding-right: 40px;
}
.pr-50{
	padding-right: 50px;
}
.pr-60{
	padding-right: 60px;
}
.pr-70{
	padding-right: 70px;
}
.pr-80{
	padding-right: 80px;
}
.pr-90{
	padding-right: 90px;
}
.pr-100{
	padding-right: 100px;
}


.pt-0{
	padding-top: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pl-0{
	padding-left: 0 !important;
}
.pr-0{
	padding-right: 0 !important;
}
.mt-0{
	margin-top: 0 !important;
}
.mb-0{
	margin-bottom: 0 !important;
}

.w100{
	width: 100%;
}
.w50{
	width: 50%;
}

.fw-100{
	font-weight: 100;
}
.fw-300{
	font-weight: 300;
}
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}
.fw-800{
	font-weight: 800;
}
.fw-900{
	font-weight: 900;
}

.ff-serif{
	font-family: serif;
}

.text-center{
	text-align: center;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.accordion {
  cursor: pointer;
  transition: 0.4s;
}
.accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.cases.cases_main,
.product-brand-single .product__head{
    padding-top: 60px;
}
.project-info ul li{
	color: inherit;
	font-weight: 600;
}
.project-info ul li small{
	color: #6b6b6b;
	font-weight: 100;
}
.portfolio-single-slider .details__item{
	padding: 0;
}
.portfolio-single-slider .details__item:before{
	/*content: none;*/
}
/*.portfolio-single-slider .details__img {
    top: 0;
    right: 0;
    width: 100%;
}
.details__preview{
    background: none;
    width: 100%;
    height: auto;
}*/
.portfolio-single-slider.details{
	padding: 38px 0 0;
}
.portfolio-single-slider.details .details__container {
    margin: 46px -9px 0;
}

.product-brand-single .product__head {
    padding-bottom: 58px;
}
.portfolio-single-slider.details .owl-nav{
	margin-top: 10px;
}
.header{
	padding: 18px 0;
    background-color: #fff;
}
/*******  Lighbox style      *************/
.lb-outerContainer,
.lightbox .lb-image{
	border-radius: 24px !important;
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: -30px;
    right: -44px;
}
/*********   Contact Page         ********************/
.contact-map-wr{
	position: relative;
}
.contact-map-wr img{
	width: 100%;
	border-radius: 24px !important;
}
/*******   About Us Page       *********/
.about-us-page .about-us-logo-wr{
	width: 20%;
}
.about-us-page .partner-bordered .partner-item {
	flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    text-align: center;
    margin: 0 -1px -1px 0;
    border: #eaeaea 1px solid;
    min-height: 13.88888889vmin;
}
.about-us-page .partner-item>.inside {
    padding: 1.5rem 1rem;
    align-self: center;
    display: block;
    width: 100%;
}
.about-us-page .partner-item img {
	max-width: 100%;
    opacity: .4;
    transition: all .3s ease-in-out;
}
.about-us-page .partner-item img:hover,
.about-us-page .partner-item .inside:hover img {
    opacity: 1;
}
/*********   Services Single Page        ***************/
.services-single-page .product__head{
	padding-top: 60px !important;
}
.services-single-page .progress-item-head{
	margin-bottom: 3.125rem;
}
.services-single-page .progress-item:last-child {
    border-bottom: none !important;
}
.services-single-page .progress-item {
    border-bottom: #e2e2e2 1px solid;
    padding-top: 3rem;
    padding-bottom: 3.125rem;
}
.services-single-page .progress-item-num {
    padding-bottom: .75rem;
    font-size: 6.25rem;
    color: #ccc;
    line-height: 1.1;
}
.services-single-page .progress-item-title {
    margin-bottom: .5rem;
    font-size: 2.25rem;
    letter-spacing: -.025em;
}


.services-single-page .service-promo-item-photo img {
    width: 100%;
}
.services-single-page .service-promo-item-title {
    margin-bottom: 18px;
    font-size: 3rem;
    letter-spacing: -.025em;
}

.services-single-page .service-promo-item-detail, .no-gutters>.service-promo-item-detail{
    background: #f5f5f5;
    padding: 3rem 3.5rem 3rem;
}
html>body .mt70 {
    margin-top: 4.375rem;
}
html>body .mb35 {
    margin-bottom: 2.1875rem;
}
.services-single-page .fs18.text-grey {
    line-height: 1.66666667;
}
html>body .fs18 {
    font-size: 1.125rem;
}
html>body .fs20 {
    font-size: 1.25rem;
}
html>body .text-grey {
    color: #666;
}

@media (min-width: 1200px){
	.services-single-page .service-promo-item-detail, .no-gutters>.service-promo-item-detail{
	    padding: 3rem 3.75rem 3rem 3.75rem;
	}
}
@media (max-width: 1052px){
	.services-single-page .service-promo-item-title {
	    margin-bottom: 18px;
	    font-size: 2.5rem;
	    letter-spacing: -.025em;
	}
}
@media (max-width: 767px){
	.services-single-page .service-promo-item-detail{
	    padding: 1rem 2rem 1rem;
	}
	.services-single-page .service-promo-item-title{
		margin-bottom: 8px;
		font-size: 2rem;
	}
	html>body .fs18,
	html>body .fs20{
		font-size: 1rem;
	}
	html>body .mt70 {
	    margin-top: 2rem;
	}
	html>body .mb35 {
	    margin-bottom: 1rem;
	}

}

.services-single-page .service-promo-item .nav.flex-column li {
    margin-bottom: .625rem;
}

.services-single-page  .section-item-title-xs-narrow {
    font-size: .875rem;
    color: #999;
    text-transform: uppercase;
}
.services-single-page  .section-item-title-xs-narrow {
    letter-spacing: .1em;
    font-weight: 400;
}
.services-single-page  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.services-single-page .service-promo-item .nav.flex-column li {
    margin-bottom: .625rem;
}
.services-single-page .nav.flex-column a {
    color: inherit;
    text-decoration: none;
}
.services-single-page .service-promo-item-photo{
	border-radius: 40px 0 0 40px;
}
.services-single-page .service-promo-item-detail{
	border-radius: 0 40px 40px 0;
}
.services-single-page .progress-item .product__overview:before{
	content: none !important;
}


@media (max-width: 575px){
	.services-single-page .service-promo-item-detail {
	    border-radius: 0 0 40px 40px;
	}
	.services-single-page .service-promo-item-photo,
	.services-single-page .service-promo-item-photo img {
	    border-radius: 40px 40px 0 0;
	}
	.services-single-page .service-promo-item-photo{
		padding: 0;
	}
}

/*********  Services Page       ************************/
.services-page .services-carousel-wr{

}
.services-page .services-carousel-wr .cases__preview{

}.services-page .services-carousel-wr .cases__preview img{

}

.services-page .services-carousel-wr .cases__info{
	font-size: 24px;
}
.services-page .services-carousel-wr .cases__text{
	margin-bottom: 40px;
    color: #6b6b6b;
}
.services-page .services-carousel-wr .cases__body{
	text-align: center;
	border-radius: 24px;
}
.cases__item:hover .details__preview {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.services-page .cases__item:hover .details__btn {
    visibility: visible;
    opacity: 1;
}
.services-page .cases__item .details__btn {
    visibility: hidden;
    opacity: 0;
}

.services-page .cases .owl-dots{
	margin: 70px 0 100px;
	justify-content: center;
}

/*******   Portfolio All Page            **************/
.portfolio-all-wr .cases__nav{
	margin-bottom: 50px;
}


.portfolio-all-wr .cases__list .cases__item,
.portfolio-web-wr .cases__list .cases__item,
.portfolio-brand-wr .cases__list .cases__item{
	flex: 0 0 calc(33% - 32px);
    width: calc(33% - 32px);
}

/****  Web Design Single Page  ****/
.web-single-title-wr .product__head .product__row{
	margin-bottom: 0;
}

.web-single-wr .web-single{
    background: #dde2e4;
    height: 0;
    padding-bottom: 52.08333333%;
    overflow: hidden;
    position: relative;
}
.web-single-wr .web-single img{
	width: 100%;
}
.web-single-wr .img-left{
    position: absolute;
    left: 14.58333333%;
    top: 21.7962963%;
    width: 20.83333333%;
}
.web-single-wr .img-right{
    position: absolute;
    left: 28.90625%;
    top: 21.7962963%;
    width: 59.0625%;
}
.web-single-title-wr .product__head {
    padding: 100px 0;
}

.web-single-title-wr .project-info-col-typ{
	margin-bottom: 0;
}

.web-single-title-wr .project-info-col-typ .project-info-title{
	margin-bottom: 4.375rem;
}
.web-single-title-wr .product__body .product__overview{
	width: 50%;
}
.web-single-title-wr .project-info-col-typ .product__overview{

}

.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 3rem;
    /*margin-bottom: 2.375rem;*/
    text-align: center;
}

.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item .color {
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 3.75rem;
    margin-bottom: 24px;
}
.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item .color-title {
    color: #999999;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 100;
}
.web-single-title-wr .product__body .product__overview .h2,
.web-single-title-wr .product__body .product__overview .h4{
	font-weight: 100;
}


.header__wrapper.visible .header__item span{
	line-height: 80px;
}
@media only screen and (max-width: 1279px){
	.pt-128,
	.pt-100 {
	    padding-top: 84px;
	}

	/*******  Service Page      *********************/
	.services-page  .details__preview_color .details__img {
	    top: 25px;
	    right: 7px;
	}

	/****  Web Design Single Page  ****/
	.web-single-title-wr .project-info-col-typ{
		display: block;
	}
	.web-single-title-wr .product__body .product__overview{
		width: 100%;
	}
	.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item {
	    margin-bottom: 2.375rem;
	}
	.web-single-title-wr .project-info-col-typ .project-info-title:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 37px;
	    width: 108px;
	    height: 2px;
	    background: #4C40F7;
	}
	.web-single-title-wr .project-info-col-typ .product__overview:before{
		content: none;
	}
}

@media only screen and (max-width: 1080px){
	.portfolio-all-wr .cases__list .cases__item,
	.portfolio-web-wr .cases__list .cases__item,
	.portfolio-brand-wr .cases__list .cases__item{
		flex: 0 0 calc(50% - 32px);
	    width: calc(50% - 32px);
	}
}
@media (min-width: 768px) and (max-width: 1023px){
	.header__wrapper.visible .header__item span{
		line-height: 50px;
	}
	.header__contacts {
	    margin: 20px 0 0;
	}
	.header__social_inner {
	    bottom: 35px;
	}
}

@media only screen and (max-width: 767px){
	.pt-128 {
	    padding-top: 68px !important;
	}
	.cases.cases_main,
	.product-brand-single .product__head{
	    padding-top: 30px;
	}

	/******  About Us Page          *****/
	.about-us-page .partner-bordered .partner-item {
		flex: 0 0 50%;
	    max-width: 50%;
	}

	/*******  Services Page      ***********************/
	.services-page .services-carousel-wr .cases__body{
		width: 90%;
	    margin: 0 auto;
	    box-shadow: 0px 7px 20px 0px #0000004d;
	}
	.services-page .cases__item .details__btn {
	    visibility: visible;
	    opacity: 1;
	}
	.services-page .details__preview_color .details__img {
	    top: 30px;
	    right: 12px;
	}

	/*******   Brand Single Page            *******************/
	.cases.cases_main, .product-brand-single .product__head .product__wrap .product__title{
		margin-bottom: 32px;
	}
	.product-brand-single .product__head {
	    padding-bottom: 0;
	}
	.product-bg-wr .product__bg{
		background-size: 173%;
    	background-position: 0px 0px;
	}

	/*******   Portfolio All Page            **************/
	.portfolio-all-wr .cases__list .cases__item,
	.portfolio-web-wr .cases__list .cases__item,
	.portfolio-brand-wr .cases__list .cases__item{
    	width: 100%;
	}

	/****  Web Design Single Page  ****/
	.web-single-wr .web-single {
	    padding-bottom: 60.083333%;
	}
	.web-single-wr .img-left {
	    top: 27.7962963%;
	    width: 20.83333333%;
	}
	.web-single-wr .img-right {
	    top: 27.7962963%;
	    width: 59.0625%;
	}
	.web-single-title-wr .product__head .product__row{
		margin-bottom: 0;
	}
	.web-single-title-wr .product__head {
	    padding: 80px 0;
	}
	.pt-128 {
	    padding-top: 38px;
	}
	.web-single-title-wr .product__body .product__overview{
		width: 100%;
	}
	.web-single-title-wr .project-info-col-typ .pallete-list .pallete-item {
	    margin-bottom: 2.375rem;
	}

	.web-single-title-wr .project-info-col-typ .project-info-title:before {
	    width: 56px;
	    top: 57px;
	}

	

}
@media only screen and (max-width: 639px){

	/****  Web Design Single Page  ****/
	.web-single-wr .web-single {
	    padding-bottom: 67.083333%;
	}
	.web-single-wr .img-left {
	    top: 34.7962963%;
	    width: 20.83333333%;
	}
	.web-single-wr .img-right {
	    top: 34.7962963%;
	    width: 59.0625%;
	}
	.header__wrapper.visible .header__item span{
		line-height: inherit;
	}
}
@media (min-width: 640px) and (max-width: 767px){
	.header__wrapper.visible .header__item span{
		line-height: 50px;
	}
}
@media (min-width: 500px) and (max-width: 767px){
	.product-bg-wr .product__bg{
		background-size: 130%;
    	background-position: -120px 0px;
	}
}

.header__burger_dark:before,
.header__burger_dark:after {
    background: #00113B !important;
}
.header__contacts{
	justify-content: center;
}





.services-page .services-carousel-wr .cases__body{
	border: 1px solid transparent;
    border-image-slice: 1;
    border-width: 2px;
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to top, #ffffff00, #ffbdbd) border-box;
}
.our-team img,
.our-team-gallery img{
	border-radius: 24px;
}

.parallax-mirror{
    background: rgb(221, 226, 228);
}
.parallax-slider{
	border-radius: 50px;
	box-shadow: rgba(146, 156, 160, 0.75) 0px 2.5rem 9.375rem;
}


.portfolio-all-wr .cases__list .cases__item .cases__body,
.portfolio-brand-wr .cases__list .cases__item .cases__body,
.portfolio-web-wr .cases__list .cases__item .cases__body{
    border: 1px solid transparent;
    border-image-slice: 1;
    border-width: 2px;
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to top, #ffffff00, #00000014) border-box;
    border-top: none;
    border-bottom: none;
}
